* { margin: auto 0px; font-family: Tahoma, Verdana, Sans-serif; }
h1 { text-align: center;
margin-bottom: 10px;}
header {
  position: relative;
  width: 100%;
  height: 86px;
  color: white;
  background-color: #1A237E;
 /* background: rgba(8, 11, 67, 0.8); */
  text-align: center;
}
main {
  position: relative;
  width: 100%;
  min-height: 50ex;
  margin-top: 36px;
  background-color: #fff;
}

.header__menu-icon {
  position: absolute;
  width: 36px;
  margin: 25px 16px;
  left: 6px;
  cursor: pointer;
}
.header__download-app-icon {
  position: absolute;
  right: 15px;
  width: 155px;
  height: 60px;
  margin: 13px 4px;
  cursor: pointer;
}
.header__logo {
  position: static;
  margin-top: 3px;
  height: 80px;
}
h2{
  position:relative;
  float:left;
  margin-left:10px;
}
select{
   /* margin-left:10px;
  width:200px;
  font-size:14pt;
  border: 2px solid #292D76;
  background:#C5CEE4;*/
	position:relative;
	float:left;
  -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png),
   -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: 12pt;
   margin-left: 10px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 200px;
}
.switch {
	position:relative;
	float:left;
	margin-left:5px;
  height: 24px;
  margin-bottom: 15px;
  padding: 4px;
  width:20%;
  background: #6db244;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -moz-linear-gradient(top, #60a83a, #7dbe52);
  background-image: -o-linear-gradient(top, #60a83a, #7dbe52);
  background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}
.switch-input {
  display: none;
}

.switch-label {
  float: left;
  width: 50%;
  line-height: 24px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.switch-input:checked + .switch-label {
  font-weight: 500;
  color: #434248;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  background: white;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
  background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
  background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
#map {
	width:99%;
	margin: auto;
	margin-bottom:10px;
	height: 400px;
	background-color: grey;
}
h3{
  text-align: center;
  text-indent: 10px;
  border:solid;
  border-color: #eeeeee;
  background:linear-gradient(to bottom,#fefefe,lightgray);
  font-size: 18pt;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 10px;
}
.personalinfo{
  position: relative;
  float: left;
  width: 50%;
  height: 40%;
  font-size: 16pt;
}
.personalinfo .uni {
  position: relative;
  float: left;
  margin-left: 40px;
  margin-right: 5px;
  font-weight: 600;

}
.personalinfo .r{
  position:relative;
  float: left;
}
.img {
  position: relative;
  float: left;
  width: 30%;
}
.img img{
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  border-radius: 10px;
}
.img input{
  position: relative;
  float: right;
  width: 90px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: #1A23FF;
  color: #fff;
  padding: 4px;
}
.universinfo {
  position: relative;
  float: left;
  width: 50%;
  font-size: 16pt;
  height: 40%;
  text-align: center;
}
.universinfo .uni {
  position: relative;
  float: left;
  margin-left: 20px;
  margin-right: 5px;
  font-weight: 600;
}
.universinfo .r{
  position:relative;
  float: left;
}
.carinfo {
  position: relative;
  float: left;
  margin-top: 20px;
  width: 100%;
  font-size: 16pt;
  height: 25%;
  text-align: center;
}
.carinfo .uni {
  position: relative;
  float: left;
  margin-left: 20px;
  margin-right: 5px;
  font-weight: 600;
}
.carinfo .r{
  position:relative;
  float: left;
}
/*Login Natah*/
body,.photo img,.textinfopi,.textvaluepi,.pi,.textinfoci,.textvalueci,.ci,.cri,#sidemenu{
    position: relative;
    float: left;
}
.pi h1,.ci h1,.cri h1{
      border-radius: 15px;
    background-color:#030427 ;
    font-size: 23px;
    text-align: center;
    color: #fff;
}
body{
    background: #F8F8F9;
}

.box{
    display:block;
    text-align: center;
    width:100%;
}
.pi{
    margin: 0px 5px 0px 40px;
    width: 46%;
   }

.photo img {
    float: left;
    margin: 0px 0px;
    width: 37%;
}

.textinfopi{
    font-weight:bold;

}
.textinfopi,.textvaluepi{
      font-size: 26px;
    text-align: left;
    margin: 7px 4px 12px 13px;

}
.ci{
    margin: 0px 40px 0px 5px;
    width: 46%;

}
.textinfoci{
    font-weight: bolder;
}
.textinfoci,.textvalueci{
     font-size: 26px;
    text-align: left;
    margin: 5px 4px 19px 18px;
}

.cri{
    margin: 40px 0px 0px 30px;
    width: 92%;


}
.textinfocri{
    font-weight:bold;
}
.textvaluecri,.textinfocri{
  font-size: 26px;
  text-align: left;
  margin: 10px 0px 12px 10px;
  padding: 20px 0px 0px 0px;
}

/*Fin login natah*/
@media only screen and (max-width:1024px) {

}
@media only screen and (max-width:720px) {
  .pi {
    margin: 0px 5px 0px 10;
    width: 45%;
}
.ci {
    margin: 0px 0px 0px 30px;
    width: 45%;
}
.photo img {
    float: left;
    margin: 0px 0px;
    width: 47%;
}
.textinfopi, .textvaluepi {
  margin: 0px 4px 12px 13px;
}
.textinfoci, .textvalueci {
    margin: 0px 4px 19px 18px;
}
textvaluecri, .textinfocri {
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
}
}
@media only screen and (max-width:480px) {
  .pi {
    margin: 0px 5px 0px 10;
    width: 45%;
}
.ci {
    margin: 0px 0px 0px 30px;
    width: 45%;
}
.photo img {
    float: left;
    margin: 0px 0px;
    width: 47%;
}
.textinfopi, .textvaluepi {
  margin: 0px 4px 12px 13px;
}
.textinfoci, .textvalueci {
    margin: 0px 4px 19px 18px;
}
.textvaluecri, .textinfocri {
    margin: 0px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
}
}
@media only screen and (max-width:640px) {
  .header__download-app-icon { visibility: hidden; }
  .header__logo { margin: 15px -22px; }
}

/*
  width: 100%;
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
*/

.buttons__addSpot
{
  padding: 10px;
  background-color: #45d11b;
  color: #FFF;
  border: none;
  margin: 10px 10px 10px 10px;
}

.buttons__removeSpot
{
  padding: 10px;
  background-color: #e50202;
  color: #FFF;
  border: none;
  margin: 10px 10px 10px 10px;
}
