.footer{
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  color: #FFF;
}
.footer__block{
  width: 24%;
  float: left;
  height:160px;
  margin-top: 5px;
}
.footer__block__label{
  font-size: 24pt;
  font-family: arial;
  font-weight: bold;
  padding-left: 10px;
}
.footer__block__p{
  margin: 0px;
  padding: 4px;
}
.footer__block_a {
  padding-left: 3%;
  color: #FFF;
  text-decoration: none;

}
.footer__block_a:hover {
  color: #90CAF9;
}

.footer__copiright{
  width: 15%;
  float: right;
  position: relative;
  font-size: 12px;
  padding: 5px 5px;
  margin: 0px;
  bottom: 0;
  right: 0;
  color: #FFF;

}
.footer__block_img{
  width: 60px;
  height: 60px;
  padding: 0px 3px;
}
.footer--darkblue{
  background-color: #080B43;
}
.footer--black {
  background-color: #000;
}

@media only screen and (max-width:480px) {
  .footer__block{
    width: 29%;
    float: left;
    height:100px;
    margin-top: 5px;
    margin-left: 20px;
  }
  .footer__block__label{
    font-size: 14pt;
    font-family: arial;
    font-weight: bold;
    padding-left: 5px;
  }
  .footer__block__p{
  font-size: 8pt;

  }
  .footer__block_img{
    width: 36px;
    height: 36px;
    padding: 0px 3px;
  }
  .footer__copiright{
    width: 17%;
    float: right;
    position: relative;
    font-size: 8px;


  }
}
