* { margin: auto 0px; font-family: Tahoma, Verdana, Sans-serif; }
main {
	margin:0px;
	background: #ccc;
}

/*all*/
header, #menu, #logo, #user, #sidemenu, #content {
	position:relative;
}

/*header*/
header {
	float:left;
	width:100%;
	background:#FFF;
	box-shadow:0px 0px 20px #222;
	z-index:9000;
}

footer{
	float:left;
	width:100%;
	background:#000;
	box-shadow:0px 0px 20px #222;
	z-index:9000;
}

#logo {
	width: 95%;
	text-align: center;
}

#logo img {
	float: left;
	height:60px;
}

.download{
	margin: 0px 0px 0px 0px;
    font-weight: bold;
    color: #000;
    float: right;
    position: relative;
}

.download label{
    font-size: 12pt;
    margin: 20px 0px 0px 0px;
    float: left;
}

.download img{
	margin: 0px 0px 0px 0px;
	height:40px;
	position: relative;
	float: right;
	color:  #000;
}

select{
	float:left;
	width:30%;
	margin:10px 20px 10px 20px;
	padding:10px 0px 10px 10px;
	font-size:14pt;
	background:#E8EAF6;
	border:1px solid #666;
	color:#AAA;
}

#logo  {
	margin: 10px auto auto 10px;
    font-size: 25pt;
    font-weight: bold;
    color: #000;
}

#logo button {
	border:0px;
	height:40px;
	width:100px;
	margin-left:20px;
	color:#FFF;
	background:#000;
	border-radius:5px;
	font-size:12pt;
	cursor:pointer;
	float: right;
}

button {
	border:0px;
	height:40px;
	width:100px;
	margin-left:20px;
	color:#000;
	background: transparent;
	border-radius:5px;
	font-size:12pt;
	cursor:pointer;
	float: right;
	margin: auto 25px 25px auto;
}

#register{
	position: relative;
}

#register2 input{
	float:left;
	width:46%;
	margin: 10px auto auto 21px;
	padding:10px 0px 10px 10px;
	font-size:14pt;
	background:#FFF;
	border:1px solid #666;
	color:#212121;
}

.labels{
	font-size: 22pt;
	margin: 100px 10px auto 100px;
	color: #000;
	float: center;
}

.box {
	margin: 20px auto auto 20px;
	position:relative;
	float:left;
	width:40%;
	height:400px;
	margin:1%;
	box-shadow:0px 0px 20px #CCC;
	background:#A4A4A4;
}

.box2 {
	margin: 2px auto auto 2px;
	position:relative;
	float:left;
	width:97%;
	height:3px;
	margin:1%;
	box-shadow:0px 0px 20px #CCC;
	background:#848484;
}

.box3 {
	margin: 20px auto auto 20px;
	position:relative;
	float:left;
	width:31%;
	height:400px;
	margin:1%;
	box-shadow:0px 0px 20px #CCC;
	background:#A4A4A4;
}

input{
	float:left;
	width:30%;
	margin: 10px auto auto 21px;
	padding:10px 0px 10px 10px;
	font-size:14pt;
	background:#FFF;
	border:1px solid #666;
	color:#212121;
}


.images{
	margin: 20px auto auto 20px;
    height: 190px;
    width: 215px;
}

iframe{
	margin:20px 20px 20px 10px;
	height: 500px;
	width: 98%;
	float:center;
}
