* { margin: auto 0px; font-family: Tahoma, Verdana, Sans-serif; }
h1 { margin: 15px 0px;  text-align: center; }
header {
  position: relative;
  height: 86px;
	width: 100%;
	background: #030427;
	box-shadow: 0px 0px 20px #222;
	z-index: 9000;
  color:#FFF;
}

body { background-color: #F8F8F9; }
main { position: relative; }
.header__logo {
  position: absolute;
  height: 80px;
  margin-top: 3px;
  left: 50px;
}
.header__download-app-icon {
  position: absolute;
  right: 195px;
  width: 155px;
  margin: 13px 4px;
  cursor: pointer;
}
.header__button-login, .header__button-register {
  position: absolute;
  width: 130px;
  height: 46px;
  border-radius: 15px;
  margin: 20px 4px;
  color: white;
  cursor: pointer;
}
.header__button-login {
  right: 50px;
  color: #030427;
  border: 2px solid #080B43;
  background-color: white;
}
.form-section {
  position: static;
  width: 100%;
  height: auto;
  margin: 15px auto;
}
.form-section__title {
  position: relative;
  left: 4.5%;
  font-size: 22pt;
  border-bottom: 1px solid black;
	color: black;
}
.form-section-blank {
  position: relative;
width: 98%;
height: auto;
text-align: center;
margin: 0px auto;
}
.form-section-blank input, .form-section-blank select {
	font-size: 16pt;
	padding: 15px;
	background: #FFF;
	border: 3px solid #666;
	color: #212121;
}
.form-section__blank--three-columns, .form-section__blank--two-columns {
  position: relative;
  height: auto;
  margin: 5px 2%;
  border-radius: 15px;
}
.form-section__blank--three-columns {
  width: 27%;
      margin: 10px 0px 0px 0px; }
.form-section__blank--two-columns {
     width: 42.3%;
    margin: 6px 0px 0px 0px; }
.form-section__blank--three-columns_school{
  margin: 6px 0px;
  border-radius: 15px;
  width: 29%;

}
.map {
  margin: auto auto;
	height: auto;
  height: 300px;
	width: 85%;
  margin: 15px 2%;
}
.next-page {
  right: 50px;
  color: white;
  background-color: #030427;
}
.previus-page {
  float: left;
  margin-left:20px;
  color: #030427;
  border: 2px solid #080B43;
  background-color: white;
}
button {
	border:0px;
	height:40px;
	width:100px;
	margin-left:20px;
	color:#000;
	background: transparent;
	border-radius:5px;
	font-size:12pt;
	cursor:pointer;
	float: right;
	margin: auto 25px 25px auto;
}
