* { margin: auto 0px; font-family: Tahoma, Verdana, Sans-serif; }
header {
  position: relative;
  height: 86px;
	width: 100%;
	background: #FFF;
	box-shadow: 0px 0px 20px #222;
	z-index: 9000;
}
main { position: relative; }

/*  */
.header__logo {
  position: absolute;
  height: 80px;
  margin-top: 3px;
  left: 50px;
}
.header__download-app-icon {
  position: absolute;
  right: 340px;
  width: 155px;
  margin: 13px 4px;
  cursor: pointer;
}
.header__button-login, .header__button-register {
  position: absolute;
  width: 130px;
  height: 46px;
  border-radius: 15px;
  margin: 20px 4px;
  color: white;
  cursor: pointer;
}
.header__button-login {
  right: 195px;
  color: #030427;
  border: 2px solid #030427;
}
.header__button-login:hover{
background: #ccc;
}
.header__button-register {
  right: 50px;
  color: #fff;
  background-color: #030427;
}
.header__button-register:hover {
  right: 50px;
  color: #000;
  background-color: #fff;
  border: 2px solid #030427;
}
.presentation {
  position: relative;
  height: 380px;
  background-image: url(../images/presentation.jpg);
  background-position: 50% -75px;
  background-attachment: fixed;

}
.description-box {
  position: absolute;
  width: 420px;
  height: auto;
  top: 86px;
  left: 86px;
  padding: 15px;
  color: white;
  background: #1A237E;
  opacity: 0.9;
  border: 2px solid darkblue;
  border-radius: 15px;
  box-shadow:0px 0px 20px #CCC;
}
.description-box__title { font-size: 24pt; }
.description-box__paragraph { font-size: 16pt; }
.image-box {
  position: absolute;
  width: 680px;
  max-height: 280px;
  top: 50px;
  right: 86px;
  text-align: center;
}
.image-box__university-logo {
  position: relative;
  max-height: 100px;
  margin: 20px;
}
.information {
  position: relative;
  width: 98%;
  height: auto;
  margin: 35px auto;
}
.column-information {
  position: relative;
  float: left;
  width: 376px;
  padding: 13px;
  margin: 15px 15px;
  border-radius: 15px;
  background: white;
  color: black;
  text-align: center;
  border: 2px solid #030427;
}
.column-information__title { font-size: 16pt; }
.column-information__paragraph {
  font-size: 12pt;
  color: #080B43;
  font-style: italic;
}
.column-information__image { max-height: 128px; margin-top: 5px; }
button {
	border:0px;
	height:40px;
	width:100px;
	margin-left:20px;
	color:#000;
	background: transparent;
	border-radius:5px;
	font-size:12pt;
	cursor:pointer;
	float: right;
	margin: auto 25px 25px auto;
}

/*  */
@media only screen and (max-width:720px) {
  .header__download-app-icon,.header__button-login, .header__button-register  {
    height: 40px;
    width: 60px;
    font-size:
  }
}
