*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url("../img/back.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family:Arial, helvetica, sans-serif;
}

#empty{
	width: 100%;
	height: 650px;
}

a {
	text-decoration: none;
	color:#F24C27;
}

.menu {
	max-width: 1000px;
	width:80%;
	margin:auto;
	overflow: hidden;
	border-radius: 5px;
}

header {
	width: 100%;
	height: 83px;
	padding:10px 0;
	background: #fff;
	overflow: hidden;
	box-shadow: 0px 5px 5px #888888;
}

.logo {
	width: 180px;
	float: left;
	margin-top: 0px;
}

.logo img {
	width:100%;
	vertical-align: top;
	height: 90px;
}

nav {
	float: right;
}

nav ul li {
	display: inline-block;
	margin:0px 10px;
}

nav ul li a {
	display: block;
	color: #037E8C;
	padding:30px 20px;
	text-decoration: none;
	border-radius:5px;
	transition:all 300ms ease;
}

nav ul li a:hover {
	color: #fff;
	background: #66B2FF;
}

#options{
	text-align: center;
	margin: 40px;
	color: #fff;
}
#icon{
	height: 30px;
	width: 30px;
	margin-right: 10px;
	margin-bottom: -8px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
		border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
		margin: 30px;
		margin-top: 70px;
    font-size: 16px;
		width:300px;
		cursor: pointer;
}

button:hover {
	background-color: #66BB6A; 
}

#content{
	width: 100%;
	height: 1000px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px 5px #888888;
}

footer{
	height: 200px;
	background-color: #0cb7f2;

	box-shadow: 0px 0px 5px 5px #888888;
}
