#smallcontainer {
	position: static;
	float:left;
	background:linear-gradient(to bottom, #66B2FF, #42A5F5);
	border:1px solid #666;
	box-shadow:0px 0px 20px #000;
}

#smallcontainer {
	width:50%;
	margin: 30px;
	margin-left:100px;
	margin-top: 80px;
}

#smallcontainer h1 {
	margin:10px auto 10px 2%;
	font-size:14pt; font-weight:bold;
	color:#FFF;
}

#smallcontainer label {
	float:left;
	width:90%;
	margin:10px auto 0px 5%;
}

#smallcontainer input {
	float:left;
	width:90%;
	margin:10px auto 0px 5%;
	padding:10px 0px 10px 10px;
	font-size:14pt;
	background:#BBDEFB;
	border:1px solid #666;
	color:#000000;
}
.label {
	font-size:12pt;
	color:#EEE;
}
.error {
	font-size:14pt; font-weight:bold;
	color:#EF5350;
	height:30px;
}

.buttons {
	position:relative; float:left;
	width:100%;
	text-align:center;
	margin:0px;
}
.buttons button {
	position:relative; float:center;
	width:100px;
	margin:10px 10px 10px 0px; padding:10px 0px 10px 0px;
	font-size:14pt; font-weight:bold;
	color:#FFF;
	cursor:pointer;
}
.normal {
	background:linear-gradient(to bottom, #888, #666);
	border:1px solid #666;
}
.normal:hover {
	background:linear-gradient(to bottom, #999, #777);
	border:1px solid #777;
}

.ok {
	background:linear-gradient(to bottom, #66BB6A, #43A047);
	border:1px solid #43A047;
}
.ok:hover {
	background:linear-gradient(to bottom, #81C784, #66BB6A);
	border:1px solid #66BB6A;
}
.cancel {
	background:linear-gradient(to bottom, #EF5350, #D32F2F);
	border:1px solid #D32F2F;
}
.cancel:hover {
	background:linear-gradient(to bottom, #E57373, #EF5350);
	border:1px solid #EF5350;
}

footer {

	width: 100%;
	background:#777;
	padding:20px 0;
	color:#fff;
}

footer p {
	text-align:center;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
		border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
		margin: 30px;
		margin-top: 70px;
    font-size: 16px;
		width:300px;
		cursor: pointer;
}

button:hover {
	background-color: #66BB6A;
}
