*{
  margin: 0;
  padding: 0;
}
body{
  font-family:Lucida Console;
}
header{
  margin-top:0px;
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;
}
#back{
	width: 100%;
	background-color: #424242;
	height: 120px;
	position: absolute;
	float: left;
	left: 0%;
}
nav{
  top:-20px;
  position: absolute;
  left:0;
  right:0;
  margin:20px auto;
  max-width:1000px;
  width:90%;
}
nav ul {
	list-style:none;
  border-radius: 5px;
}
nav > ul {
  display:table;
	width:100%;
	background-image: url("../img/backh.jpg");
	position: relative;
}
nav > ul li {
	display:table-cell;
  width: 20%;
}
nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > ul > li a:hover {
	background:#5da5a2;
}
nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}
nav > ul > li > a:hover > span {
	top:0;
}
/*Colores*/
nav ul li a .one {
	background:#0e5061;
}

nav ul li a .two {
	background:#5da5a2;
}

nav ul li a .three {
	background:#f25724;
}

nav ul li a .four {
	background:#174459;
}

nav ul li a .five {
	background:#37a4d9;
}
.navlog{
  width: 50px;
  height: 20px;
  padding: 0px;
  margin: 0px;
}
#profile{
  width: 100px;
  height: 100px;
  background-image: url("../img/profile.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
  background-color: #000;
  position: absolute;
  border-radius: 250px;
  top: 0px;
  margin-top: 10px;
  margin-left: -15px;
  cursor: pointer;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  transition: width .5s, height .5s, transform .5s;
}
#profile:hover {
    width: 150px;
    height: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
#profile2{
  width: 100px;
  height: 100px;
  background-image: url("../img/profile.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
  background-color: #000;
  position: relative;
  border-radius: 250px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 80px;
  border: 1px solid #fff;
}
#profile3{
  width: 100px;
  height: 100px;
  background-image: url("../img/profile.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
  background-color: #000;
  position: absolute;
  border-radius: 250px;
  top: 0px;
  float: right;
  margin-top: 10px;
  margin-left: 90%;
  cursor: pointer;
  -webkit-transition: width .5s, height .5s, -webkit-transform .5s;
  transition: width .5s, height .5s, transform .5s;
}
#profile3:hover {
    width: 150px;
    height: 150px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#profile4{
  width: 100px;
  height: 100px;
  background-image: url("../img/profile.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
  background-color: #000;
  position: relative;
  border-radius: 250px;
  margin-top: 10px;
  cursor: pointer;
  margin-left: 80px;
  border: 1px solid #fff;
}


#sidemenu {
	float: left;
	width: 20%;
	height: 700px;
	background: #000;
	display: none;
  position:relative;
  top: 0px;
  background-image: url("../img/backh.jpg");
  background-repeat: no-repeat;
	background-size: 100%;
}
#sidemenu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#sidemenu ul li {
	display: block;
	width: 100%;
	font-size: 10pt;
	padding: 10px 0px 10px 0px;
	text-align: center;
  color: #fff;
	text-decoration: none;
}
#sidemenu ul li a{
	display: block;
	width: 100%;
	font-size: 10pt;
	padding: 10px 0px 10px 0px;
	text-align: center;
  color: #fff;
	text-decoration: none;
  cursor: pointer;
}
#sidemenu ul li a:hover {
	background: #999;
	color: #FFF;
}
#sidemenu ul li a .icon{
  margin-right: 5px;
}


#sidemenu2 
{
	float: right;
	width: 20%;
	height: 700px;
	background: #000;
	display: none;
  position:relative;
  top: 0px;
  background-image: url("../img/backh.jpg");
  background-repeat: no-repeat;
	background-size: 100%;
}
#sidemenu2 ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#sidemenu2 ul li {
	display: block;
	width: 100%;
	font-size: 10pt;
	padding: 10px 0px 10px 0px;
	text-align: center;
  color: #fff;
	text-decoration: none;
}
#sidemenu2 ul li a{
	display: block;
	width: 100%;
	font-size: 10pt;
	padding: 10px 0px 10px 0px;
	text-align: center;
  color: #fff;
	text-decoration: none;
  cursor: pointer;
}
#sidemenu2 ul li a:hover {
	background: #999;
	color: #FFF;
}
#sidemenu2 ul li a .icon{
  margin-right: 5px;
}



#container {
	position:relative;
	float:left;
	width:90%;
	margin: 10px auto 20px 0%;
	border:1px solid #666;
	box-shadow:0px 0px 20px #000;
	padding: 10px;
	left: 5%;
}
#map
{
	position:relative;
	float:left;
}
footer{
	background-image: url("../img/backh.jpg");
	position: relative;
	margin-top: 100px;
	height: 150px;
	clear: both;
	bottom: 0;
}

.buttonRemove
{
	padding: 10px;
	background-color: #e50202;
	color: #FFF;
	border: none;
	margin: 10px 10px 10px 10px; 
}

.buttonOK
{
	padding: 10px;
	background-color: #45d11b;
	color: #FFF;
	border: none;
	margin: 10px 10px 10px 10px; 
}

.next 
{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}